.login {
    background-image: url("./images/HeroInstant_NewOldLogo_2025-06-24.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #cb2332;

    .login-button {
        background-color: white;
        background-image: url("./images/G.png");
        background-position: right;
        background-repeat: no-repeat;
        padding-right: 32px;
        background-size: 15%;
    }
}

.appTitle {
    background-image: url("./images/HeroInstant_Logo_2025-06-26_SquareBlueStar.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
vaadin-grid::part(amber) {color:#000;background-color:#ffc107}
vaadin-grid::part(aqua) {color:#000;background-color:#00ffff}
vaadin-grid::part(light-blue) {color:#000;background-color:#87CEEB}
vaadin-grid::part(cyan) {color:#000;background-color:#00bcd4}
vaadin-grid::part(light-green) {color:#000;background-color:#8bc34a}
vaadin-grid::part(khaki) {color:#000;background-color:#f0e68c}
vaadin-grid::part(lime) {color:#000;background-color:#cddc39}
vaadin-grid::part(orange) {color:#000;background-color:#ff9800}
vaadin-grid::part(sand) {color:#000;background-color:#fdf5e6}
vaadin-grid::part(yellow) {color:#000;background-color:#ffeb3b}
vaadin-grid::part(white) {color:#000;background-color:#fff}
vaadin-grid::part(grey) {color:#000;background-color:#9e9e9e}
vaadin-grid::part(light-grey) {color:#000;background-color:#f1f1f1}
vaadin-grid::part(pale-red) {color:#000;background-color:#ffdddd}
vaadin-grid::part(pale-green) {color:#000;background-color:#ddffdd}
vaadin-grid::part(pale-yellow) {color:#000;background-color:#ffffcc}
vaadin-grid::part(pale-blue) {color:#000;background-color:#ddffff}
vaadin-grid::part(cerulean) {color:#000;background-color:#9BB7D4}
vaadin-grid::part(illuminating) {color:#000;background-color:#F5DF4D}
vaadin-grid::part(green-ash) {color:#000;background-color:#A0DAA9}
vaadin-grid::part(buttercream) {color:#000;background-color:#EFE1CE}
vaadin-grid::part(desert-mist) {color:#000;background-color:#E0B589}
vaadin-grid::part(saffron) {color:#000;background-color:#FFA500}
vaadin-grid::part(biscay-green) {color:#000;background-color:#56C6A9}
vaadin-grid::part(sunlight) {color:#000;background-color:#EDD59E}
vaadin-grid::part(coral-pink) {color:#000;background-color:#E8A798}
vaadin-grid::part(brilliant-white) {color:#000;background-color:#EDF1FF}
vaadin-grid::part(green-sheen) {color:#000;background-color:#D9CE52}
vaadin-grid::part(rose-tan) {color:#000;background-color:#D19C97}
vaadin-grid::part(aspen-gold) {color:#000;background-color:#FFD662}
vaadin-grid::part(mango-mojito) {color:#000;background-color:#D69C2F}
vaadin-grid::part(sweet-lilac) {color:#000;background-color:#E8B5CE}
vaadin-grid::part(soybean) {color:#000;background-color:#D2C29D}
vaadin-grid::part(sweet-corn) {color:#000;background-color:#F0EAD6}
vaadin-grid::part(creme-de-peche) {color:#000;background-color:#F5D6C6}
vaadin-grid::part(vanilla-custard) {color:#000;background-color:#F3E0BE}
vaadin-grid::part(ceylon-yellow) {color:#000;background-color:#D5AE41}
vaadin-grid::part(crocus-petal) {color:#000;background-color:#BE9EC9}
vaadin-grid::part(limelight) {color:#000;background-color:#F1EA7F}
vaadin-grid::part(tofu) {color:#000;background-color:#EAE6DA}
vaadin-grid::part(almond-buff) {color:#000;background-color:#D1B894}
vaadin-grid::part(quiet-grey) {color:#000;background-color:#BCBCBE}
vaadin-grid::part(meerkat) {color:#000;background-color:#95dee3}
vaadin-grid::part(meadowlark) {color:#000;background-color:#ECDB54}
vaadin-grid::part(little-boy-blue) {color:#000;background-color:#6F9FD8}
vaadin-grid::part(pink-lavender) {color:#000;background-color:#DBB1CD}
vaadin-grid::part(blooming-dahlia) {color:#000;background-color:#EC9787}
vaadin-grid::part(almost-mauve) {color:#000;background-color:#EADEDB}
vaadin-grid::part(lime-punch) {color:#000;background-color:#BFD641}
vaadin-grid::part(harbor-mist) {color:#000;background-color:#B4B7BA}
vaadin-grid::part(warm-sand) {color:#000;background-color:#C0AB8E}
vaadin-grid::part(coconut-milk) {color:#000;background-color:#F0EDE5}
vaadin-grid::part(DARK-red) {color:#eee;background-color: #8B0000}
vaadin-grid::part(DARK-gray) {color:#eee;background-color: #222}
vaadin-grid::part(DARK-black) {color:#eee;background-color: #000}
vaadin-grid::part(DARK-blue) {color:#eee;background-color: #00008B}
vaadin-grid::part(DARK-green) {color:#eee;background-color: #06402B}
vaadin-grid::part(DARK-brown) {color:#eee;background-color: #5C4033}
