
.w3-amber,.w3-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.w3-aqua,.w3-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.w3-light-blue,.w3-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.w3-cyan,.w3-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.w3-light-green,.w3-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.w3-khaki,.w3-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.w3-lime,.w3-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.w3-orange,.w3-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.w3-sand,.w3-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.w3-yellow,.w3-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.w3-white,.w3-hover-white:hover{color:#000!important;background-color:#fff!important}
.w3-grey,.w3-hover-grey:hover,.w3-gray,.w3-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.w3-light-grey,.w3-hover-light-grey:hover{color:#000!important;background-color:#f1f1f1!important}
.w3-pale-red,.w3-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.w3-pale-green,.w3-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.w3-pale-yellow,.w3-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.w3-pale-blue,.w3-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.w3-cerulean{color:#000;background-color:#9BB7D4}
.w3-illuminating{color:#000;background-color:#F5DF4D}
.w3-green-ash{color:#000;background-color:#A0DAA9}
.w3-buttercream{color:#000;background-color:#EFE1CE}
.w3-desert-mist{color:#000;background-color:#E0B589}
.w3-saffron{color:#000;background-color:#FFA500}
.w3-biscay-green{color:#000;background-color:#56C6A9}
.w3-sunlight{color:#000;background-color:#EDD59E}
.w3-coral-pink{color:#000;background-color:#E8A798}
.w3-brilliant-white{color:#000;background-color:#EDF1FF}
.w3-green-sheen{color:#000;background-color:#D9CE52}
.w3-rose-tan{color:#000;background-color:#D19C97}
.w3-aspen-gold{color:#000;background-color:#FFD662}
.w3-mango-mojito{color:#000;background-color:#D69C2F}
.w3-sweet-lilac{color:#000;background-color:#E8B5CE}
.w3-soybean{color:#000;background-color:#D2C29D}
.w3-sweet-corn{color:#000;background-color:#F0EAD6}
.w3-creme-de-peche{color:#000;background-color:#F5D6C6}
.w3-vanilla-custard{color:#000;background-color:#F3E0BE}
.w3-ceylon-yellow{color:#000;background-color:#D5AE41}
.w3-crocus-petal{color:#000;background-color:#BE9EC9}
.w3-limelight{color:#000;background-color:#F1EA7F}
.w3-tofu{color:#000;background-color:#EAE6DA}
.w3-almond-buff{color:#000;background-color:#D1B894}
.w3-quiet-grey{color:#000;background-color:#BCBCBE}
.w3-meerkat{color:#000;background-color:#95dee3}
.w3-meadowlark{color:#000;background-color:#ECDB54}
.w3-little-boy-blue{color:#000;background-color:#6F9FD8}
.w3-pink-lavender{color:#000;background-color:#DBB1CD}
.w3-blooming-dahlia{color:#000;background-color:#EC9787}
.w3-almost-mauve{color:#000;background-color:#EADEDB}
.w3-lime-punch{color:#000;background-color:#BFD641}
.w3-harbor-mist{color:#000;background-color:#B4B7BA}
.w3-warm-sand{color:#000;background-color:#C0AB8E}
.w3-coconut-milk{color:#000;background-color:#F0EDE5}