
.amber,.hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.aqua,.hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.light-blue,.hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.cyan,.hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.light-green,.hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.khaki,.hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.lime,.hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.orange,.hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.sand,.hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.yellow,.hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.white,.hover-white:hover{color:#000!important;background-color:#fff!important}
.grey,.hover-grey:hover,.gray,.hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.light-grey,.hover-light-grey:hover{color:#000!important;background-color:#f1f1f1!important}
.pale-red,.hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.pale-green,.hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.pale-yellow,.hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.pale-blue,.hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.cerulean{color:#000;background-color:#9BB7D4}
.illuminating{color:#000;background-color:#F5DF4D}
.green-ash{color:#000;background-color:#A0DAA9}
.buttercream{color:#000;background-color:#EFE1CE}
.desert-mist{color:#000;background-color:#E0B589}
.saffron{color:#000;background-color:#FFA500}
.biscay-green{color:#000;background-color:#56C6A9}
.sunlight{color:#000;background-color:#EDD59E}
.coral-pink{color:#000;background-color:#E8A798}
.brilliant-white{color:#000;background-color:#EDF1FF}
.green-sheen{color:#000;background-color:#D9CE52}
.rose-tan{color:#000;background-color:#D19C97}
.aspen-gold{color:#000;background-color:#FFD662}
.mango-mojito{color:#000;background-color:#D69C2F}
.sweet-lilac{color:#000;background-color:#E8B5CE}
.soybean{color:#000;background-color:#D2C29D}
.sweet-corn{color:#000;background-color:#F0EAD6}
.creme-de-peche{color:#000;background-color:#F5D6C6}
.vanilla-custard{color:#000;background-color:#F3E0BE}
.ceylon-yellow{color:#000;background-color:#D5AE41}
.crocus-petal{color:#000;background-color:#BE9EC9}
.limelight{color:#000;background-color:#F1EA7F}
.tofu{color:#000;background-color:#EAE6DA}
.almond-buff{color:#000;background-color:#D1B894}
.quiet-grey{color:#000;background-color:#BCBCBE}
.meerkat{color:#000;background-color:#95dee3}
.meadowlark{color:#000;background-color:#ECDB54}
.little-boy-blue{color:#000;background-color:#6F9FD8}
.pink-lavender{color:#000;background-color:#DBB1CD}
.blooming-dahlia{color:#000;background-color:#EC9787}
.almost-mauve{color:#000;background-color:#EADEDB}
.lime-punch{color:#000;background-color:#BFD641}
.harbor-mist{color:#000;background-color:#B4B7BA}
.warm-sand{color:#000;background-color:#C0AB8E}
.coconut-milk{color:#000;background-color:#F0EDE5}